html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/main.jpg);
  background-size: cover;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 80px;
  box-sizing: border-box;
  padding: 0 50px;
  background-color: white;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.075);
}

ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
}

.container h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
}

.top_img {
  width: 100%;
  padding-top: 80px;
}

section {
  margin-bottom: 60px;
}

/* ここから、学べる言語のセクション */
.contents {
  width: 90%;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
}

.contents img {
  display: block;
  margin: 30px auto;
  width: 30%;
}

.item {
  width: 33%;
}
.item p {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.item:hover {
  box-shadow: 0 0 5px gray;
}

/* ここから、動画セクション */
.movie_section {
  padding: 10px 30px;
  background-color: rgb(69, 63, 63);
  color: white;
  height: 400px;
}

.movies {
  display: flex;
  justify-content: space-between;
}

.movies p {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
.lang {
  display: flex;
  margin-bottom: 60px;
}

.lang h2 {
  font-size: 36px;
}

.lang:nth-child(odd) {
  flex-direction: row-reverse;
}

/* ここから、各言語の特徴セクション */
.desc {
  width: 100%;
  margin: 0 auto;
}

.desc h1 {
  font-size: 30px;
}
.langage {
  width: 80%;
  margin: 0 auto;
}
.lang_desc h1 {
  text-align: left;
}
/* ここからfooter */

footer {
  background-color: white;
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 90%;
  height: 100px;
  margin: 0 auto;
}
